@import (less) "../node_modules/semantic-ui-dist/dist/semantic.min.css";

html, body, body > .grid {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

@panel-width: 250px;

#viz {
  position: fixed;
  height: 100%;
  width: 100%;

  svg {
    height: 100%;
    width: 100%;
  }

  .right-panel {
    margin: 0;
    padding: 0;

    position: absolute;
    right: 0;
    top: 10%;

    width: 20%;
    max-height: 80%;
    
    overflow-y: auto;
    border-right: none;

    text-align: center;

    .panel-title {
      padding-top: 10px;
    }

    .small-title {
      margin-top: 0;
    }
  }
}

.template {
  display: none;
}

#panel {
  position: fixed;
  right: 0;
  height: 100%;
  width: @panel-width;

  #search {
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }

  #relations {
    background-color: #DDD;
    text-align: center;
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    color: black;

    .selected-word {
      font-size: 200%;
      border: 10px black;
    }

    .category {
      font-size: 170%;
      text-decoration: underline;
    }

    .other-word {
      font-size: 150%;
      cursor: pointer;
    }
  }

}