@import (less) "../node_modules/semantic-ui-dist/dist/semantic.min.css";

html, body, body > .grid {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.pusher {
  height: 100%;
}

.sidebar {

  background-color: rgba(255, 255, 255, 0.8);

  .right-panel {
    overflow-y: auto;
    border-right: none;
    text-align: center;

    .panel-title {
      padding-top: 10px;
    }

    .small-title {
      margin-top: 0;
    }

    .column {
      margin: 0;
    }
  }
}

#viz {
  position: relative;
  height: 100%;

  .main-map {
    height: 100%;
    width: 100%;
  }


  .search {
    position: absolute;
    left: 50%;
    top: 3%;
    z-index: 1000;
    margin-left: -100px;

    input {
      width: 200px;
    }
  }
}

.template {
  display: none;
}